@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: rgb(12 11 11/var(--tw-bg-opacity));
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    touch-action: manipulation;
}

body {
    touch-action: manipulation; /* prevents zoom on double-tap */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: rgb(12 11 11/var(--tw-bg-opacity));
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 3px solid rgb(12 11 11/var(--tw-bg-opacity));
}

.gallery-limit {
    height: calc(1.9 * 16rem);
}

html::before {
    content: ' ';
    display: block;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}