@tailwind base;
@tailwind components;
@tailwind utilities;


.gallery-limit {
    height: calc(1.9 * 16rem);
}

html::before {
    content: ' ';
    display: block;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}